body{
    font-family:'Poppins',sans-serif;
    background:#f8f9fa;
}

/* Navbar */

.navbar-brand{
    font-weight:700;
}

.nav-link{
    font-weight:500;
}

.btn{
    border-radius:10px;
}
/* ---------------- Service Cards ---------------- */

.service-card{

    background:white;

    border-radius:20px;

    padding:30px;

    text-align:center;

    transition:0.3s;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    height:100%;
}

.service-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.service-icon{

    font-size:60px;

    margin-bottom:20px;

}

.service-card h4{

    font-weight:700;

}

.service-card p{

    color:#777;

    min-height:60px;

}